[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
ttkbootstrap = "*"
sqlalchemy = "*"

[dev-packages]
autopep8 = "*"
jupyter = "*"
jupyterlab = "*"

[requires]
python_version = "3.10"
